.product_menu_box {
  width: 40vw;
  min-width: 450px;
  position: absolute;
}
.product_menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.menu_font {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.menu_font label {
  display: block;
  width: 100%;
  cursor: pointer;
}
.menu_font input {
  display: none;
}
